extends layout.pug

block content
   if error
      p.text-danger= error

   div.container.mt-4
      h1.text-primary Edit Contact
      form(action=`/contact/${contact.id}/edit` method='post')
         div.container
            div.row.mb-3
               div.col-md-6
                  div.mb-3
                     label.form-label(for='firstName') First Name
                     div.col-md-6
                        input.form-control(type='text' name='firstName' value=contact.firstName required)

                  div.mb-3
                     label.form-label(for='lastName') Last Name
                     div.col-md-6
                        input.form-control(type='text', name='lastName' value=contact.lastName required)

                  div.mb-3
                     label.form-label(for='phone') Phone
                     div.col-md-6
                        input.form-control(type='text' name='phone' value=contact.phone required)

                  div.mb-3
                     label.form-label(for='email') Email
                     div.col-md-6
                        input.form-control(type='text' name='email' value=contact.email required)

               div.col-md-6      
                  div.mb-3
                     label.form-label(for='city') City
                     div.col-md-6
                        input.form-control(type='text' name='city' value=contact.city)

                  div.mb-3
                     label.form-label(for='state') State
                     div.col-md-6
                        input.form-control(type='text' name='state' value=contact.state)

                  div.mb-3
                     label.form-label(for='zip') Zip Code
                     div.col-md-6
                        input.form-control(type='text' name='zip' value=contact.zip)

                  div.mb-3                  
                     label.form-label(for='country') Country
                     div.col-md-6
                        input.form-control(type='text' name='country' value=contact.country)     
            
            div.row
               div.col-6
                  div
                     label.form-label(for='street') Street
                     div.col-md-6
                        input.form-control(type='text' name='street' value=contact.street)
         
            hr
            div.form-check.mb-2
               input.form-check-input(type='checkbox' name='contactByEmail' id='contactByEmail' checked=(contact.contactByEmail === 1))
               label.form-check-label(for='contactByEmail') Contact by Email

            div.form-check.mb-2
               input.form-check-input(type='checkbox' name='contactByPhone' id='contactByPhone' checked=(contact.contactByPhone === 1))
               label.form-check-label(for='contactByPhone') Contact by Phone

            div.form-check.mb-2
               input.form-check-input(type='checkbox' name='contactByMail' id='contactByMail' checked=(contact.contactByMail === 1))
               label.form-check-label(for='contactByMail') Contact by Mail

            hr

            div.d-flex.justify-content-start.gap-2.mt-3
               button.btn.btn-primary(type='submit') Update Contact
               a.btn.btn-secondary(href='/') Cancel

